<div class="portal-options">
  <!-- checkbox too big, eyesore
  <md-checkbox [(ngModel)]="autoDeploy" (ngModelChange)="change()">
    Auto Deploy
  </md-checkbox>
  -->
  <md-input placeholder="JIRA Ticket" [(ngModel)]="ticketKey" (ngModelChange)="change()"></md-input>
  <br>
  <textarea
    placeholder="notes"
    class="notes"
    [(ngModel)]="description"
    (ngModelChange)="change()"
  ></textarea>
  <div *ngIf="shouldShowAdvanced">
    <div>
      Auto:
      <label class="auto-checkbox">
        <input type="checkbox" [(ngModel)]="autoDeploy" (ngModelChange)="change()">
        Deploy
      </label>

      <label class="auto-checkbox">
        <input type="checkbox" [(ngModel)]="autoRefresh" (ngModelChange)="change()">
        Refresh
      </label>

      <label class="auto-checkbox">
        <input type="checkbox" [(ngModel)]="autoRemove" (ngModelChange)="change()">
        Destroy
      </label>
    </div>
    <button (click)="addConfigEntry()">
      <i class="fa fa-plus"></i>
    </button>
    <md-list>
      <md-list-item *ngFor="let config of configEntries; let index = index;">
        <md-input placeholder="name" [(ngModel)]="config.name" (ngModelChange)="change()"></md-input>
        <md-input placeholder="value" [(ngModel)]="config.value" (ngModelChange)="change()"></md-input>
        <button (click)="removeConfigEntry(config)">
          <i class="fa fa-minus"></i>
        </button>
        <button *ngIf="index === 0" (click)="addConfigEntry()">
          <i class="fa fa-plus"></i>
        </button>
      </md-list-item>
    </md-list>

    <div>
      <button (click)="portalService.startPortal()"><i class="fa fa-play"></i>&nbsp;start</button>
      <button (click)="portalService.stopPortal()"><i class="fa fa-stop"></i>&nbsp;stop</button>
      <button (click)="portalService.restartPortal()"><i class="fa fa-undo"></i>&nbsp;restart</button>
    </div>
  </div>
</div>