<md-card
  [ngClass]="{
    'candidate': !portal,
    'portal': portal
  }"
>
  <div class="container">
    <div *ngIf="portal" class="portal-id">
      #{{ portal.id }}
    </div>
    <div class="primary-column">
      <img class="owner-avatar" [src]="'http://github.com/' + pr.user + '.png'">

      <div class="quick-stats">
        <a
          class="artifact"
          [title]="'Artifact: ' + (artifact ? 'ready' : 'not ready')"
          [ngClass]="{ 'ready' : artifact, 'not-ready': !artifact }"
        >
          <i class="fa fa-cubes"></i>
        </a>

        <a
          *ngIf="build"
          [title]="'Build: ' + build.result"
          class="build {{ build.result && build.result.toLowerCase() }}"
        >
          <i class="fa fa-gears"></i>
        </a>
        <div
          *ngIf="portal"
          class="time-last-update"
        >
          <i class="fa fa-refresh"></i>
          {{formattedLastUpdateTime | async}}
        </div>
      </div>
      

      <div class="buttons">
        <button
          class="create-btn"
          *ngIf="!portal"
          md-raised-button
          [disabled]="isProcessing"
          (click)="start()"
        >Create</button>
        <a
          *ngIf="portal"
          md-raised-button
          color="primary"
          [href]="portal.url"
          target="_blank"
        >
          <i class="fa fa-external-link"></i>
          View
        </a>
      </div>
    </div>
    <div class="secondary-column">
      <div>
        <i class="fa fa-github"></i>
        <a [href]="pr.url" target="_blank">
        {{ pr.number }} -
        {{ pr.title }}
        </a>
        <small *ngIf="!portal && prHeadData">
          <a [href]="prHeadData.html_url" target="_blank">({{prHeadData.message}})</a>
        </small>
      </div>
      <div *ngIf="build">
        <i class="fa fa-cogs"></i>
        <a [href]="build.url" target="_blank">
          Build #{{ build.number }} : {{build.result}}
        </a>
        <small *ngIf="portal && buildCommitData">
          <a [href]="buildCommitData.html_url" target="_blank">({{buildCommitData.message}})</a>
        </small>
      </div>
      <div class="jira" *ngIf="ticket">
          <i class="fa fa-tasks"></i>
          <a
            target="_blank"
            [href]="'https://jira.oicr.on.ca/browse/' + ticket.key"
          >{{ ticket.key }}</a>
      </div>
      <div class="link" *ngIf="portal">
        <i class="fa fa-external-link"></i>
        <a
          *ngIf="portal"
          target="_blank"
          [href]="portal.url"
        >{{ portal.url }}</a>
      </div>

      <portal-options
        [title]="portal && portal.title || pr.title"
        [description]="portal && portal.description || ''"
        [autoDeploy]="portal ? portal.autoDeploy : true"
        [autoRefresh]="portal ? portal.autoRefresh : true"
        [autoRemove]="portal ? portal.autoRemove : true"
        [ticketKey]="portal && portal.ticketKey"
        [config]="portal && portal.config"
        [onChange]="handlePortalOptionsChange"
        [shouldShowAdvanced]="shouldShowAdvanced"
      ></portal-options>

      <div class="minor-buttons">
        <button
          *ngIf="!shouldShowAdvanced"
          (click)="shouldShowAdvanced = true"
        >
          show advanced
        </button>

        <button
          *ngIf="portal"
          (click)="requestLogs()"
        >
          request logs
        </button>
      </div>

      <div class="portal-logs" *ngIf="logsFromWebsocketAfterLogsFromRestEndpoint.length">
        <pre>
    <!--{{ logsFromRestEndpoint.content }}-->
    <template ngFor let-log="$implicit" [ngForOf]="logsFromWebsocketAfterLogsFromRestEndpoint">{{ log.line }}
    </template>
        </pre>
      </div>
    <div class="buttons">
        <button
          *ngIf="portal"
          md-raised-button
          [disabled]="isProcessing"
          (click)="update()"
        >Save</button>
        <button
          *ngIf="portal"
          md-raised-button
          class="delete-button"
          [disabled]="isProcessing"
          (click)="delete()"
        >
          <i class="material-icons">delete</i>
        </button>
    </div>
    <md-progress-bar
      *ngIf="isProcessing"
      mode="indeterminate"
      aria-label="Indeterminate progress-bar example"></md-progress-bar>
    </div>
  </div>
</md-card>