<div class="container">
  <div class="primary-column">
    <img class="owner-avatar" [src]="'http://github.com/' + pr.user + '.png'">

    <a
      class="artifact"
      [ngClass]="{ 'ready' : artifact, 'not-ready': !artifact }"
      [title]="'artifact not ready'"
    >
      <i class="fa fa-cubes"></i>
    </a>

    <button
      *ngIf="!portal"
      md-raised-button
      color="primary"
      (click)="start()"
    >Create Portal</button>
  </div>
  <div>
    <div>
      <i class="fa fa-github"></i>
      <a [href]="pr.url" target="_blank">
      {{ pr.number }} -
      {{ pr.title }}
      </a>
    </div>
    <div *ngIf="build">
      <i class="fa fa-cogs"></i>
      <a [href]="build.url" target="_blank">
        Build #{{ build.number }}
      </a>
    </div>
    <div class="jira" *ngIf="ticket">
        <i class="fa fa-tasks"></i>
        <a
          target="_blank"
          [href]="'https://jira.oicr.on.ca/browse/' + ticket.key"
        >{{ ticket.key }}</a>
    </div>
    <div class="link" *ngIf="portal">
      <i class="fa fa-external-link"></i>
      <a
        *ngIf="portal"
        target="_blank"
        [href]="transformedUrl"
      >{{ transformedUrl }}</a>
    </div>

    <portal-options
      [title]="portal && portal.title || pr.title"
      [description]="portal && portal.description || ''"
      [autoDeploy]="portal ? portal.autoDeploy : true"
      [autoRemove]="portal && portal.autoRemove"
      [configs]="portal && portal.configs"
      [onChange]="handlePortalOptionsChange"
      [shouldShowConfig]="shouldShowConfig"
    ></portal-options>

    <div *ngIf="portal">
      <button [disabled]="isProcessing" (click)="update()">update</button>
      <button (click)="requestLogs()">request logs</button>
      <button [disabled]="isProcessing" (click)="delete()">delete</button>
    </div>

    <div *ngIf="isProcessing">...</div>

    <div class="portal-controls__logs" *ngIf="logsFromWebsocketAfterLogsFromRestEndpoint.length">
      <pre>
  <!--{{ logsFromRestEndpoint.content }}-->
  <template ngFor let-log="$implicit" [ngForOf]="logsFromWebsocketAfterLogsFromRestEndpoint">{{ log.line }}
  </template>
      </pre>
    </div>
  <pre>{{ portalOptions | json }}</pre>
  </div>
</div>