<div class="card-container home">
  <div class="home-column">
    Candidates:

    <md-card
      class=""
      *ngFor="let candidate of candidates"
    >

      

      <div class="jira" *ngIf="candidate.ticket">
          <a
            target="_blank"
            [href]="'https://jira.oicr.on.ca/browse/' + candidate.ticket.key"
          >{{ candidate.ticket.key }}</a>
      </div>

      <portal-controls
        [build]="candidate.build"
        [pr]="candidate.pr"
      ></portal-controls>
      <!--<div *ngFor="let portal of getCandidatePortals(candidate)">
        <portal-controls
          [portal]="portal"
          [prNumber]="candidate.pr.number"
        ></portal-controls>
      </div>-->
    </md-card>
  </div>
  <div class="home-column">

    Deployed Portals:

    <md-card *ngFor="let portal of portals">
      {{ portal.title }}
      <portal-controls
        [portal]="portal"
        [build]="portal.target.build"
        [pr]="portal.target.pr"
      ></portal-controls>
    </md-card>
  </div>
</div>
