/*styles for home content only*/
.card-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.sample-content{
    flex: 1;
}
.card-container md-card{
    margin: 5px;
}

.owner-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}