<div class="card-container home">
  <div class="home-column candidates-column">
    <h2 class="column-title">
      Candidates
      <i
        *ngIf="portalService.isFetchingCandidates"
        class="fa fa-spinner fa-spin"
      ></i>
    </h2>
    <div
      class="home-item"
      *ngFor="let candidate of candidates"
    >
      <portal-controls
        [artifact]="candidate.artifact"
        [build]="candidate.build"
        [pr]="candidate.pr"
        [ticket]="candidate.ticket"
      ></portal-controls>
    </div>
  </div>

  <div class="home-column portals-column">
    <h2 class="column-title">
      Deployed Portals
      <i
        *ngIf="portalService.isFetchingPortals"
        class="fa fa-spinner fa-spin"
      ></i>
    </h2>
    <div
      *ngFor="let portal of sortedPortals"
      class="home-item"
    >
      <portal-controls
        [portal]="portal"
        [artifact]="portal.target.artifact"
        [build]="portal.target.build"
        [pr]="portal.target.pr"
        [ticket]="portal.target.ticket"
      ></portal-controls>
    </div>
  </div>
</div>
